@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta charset="utf-8" />
    <link href="~/Content/css/jqueryUI/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css/jqueryUI/jquery-ui.theme.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-1.9.1.js"></script>
    <script src="~/Content/js/jquery-ui.js"></script>

    

</head>
<body>
    <div id="divClientes">
        @Html.Action("List")
    </div>
</body>
</html>



